{#
 * This package is responsible for displaying the html elements.
 * 
 * Copyright (C) 2023, José V S Carneiro
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * This program is distributed in the hope that it will be useful,    
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License 
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "Main.html.twig" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href={{ CSS_ ~ 'Home.css' }}>
{% endblock %}

{% block main %}

<div class="h-100 w-100 d-flex justify-content-center align-items-center">
<div class="h-75 w-75 container text-center">
    <div class="row justify-content-evenly h-50">
        <div class="col col__btn d-flex justify-content-center align-items-end" id="row__cart"><a href="" class="fw-bold fs-1 w-100 btn btn-primary border-0">Carrinho</a></div>
        <div class="col col__btn d-flex justify-content-center align-items-end" id="row__bleach"><a href="" class="fw-bold fs-1 w-100 btn btn-primary border-0">Novo Item</a></div>
        <div class="col col__btn d-flex justify-content-center align-items-end" id="row__fax"><a href="" class="fw-bold fs-1 w-100 btn btn-primary border-0">Nova Compra</a></div>
    </div>
    <div class="row justify-content-evenly h-50">
        <div class="col col__btn d-flex justify-content-center align-items-end" id="row__team"><a href="" class="fw-bold fs-1 w-100 btn btn-primary border-0">Novo Fornecedor</a></div>
        <div class="col col__btn d-flex justify-content-center align-items-end" id="row__finance"><a href="" class="fw-bold fs-1 w-100 btn btn-primary border-0">Vendas</a></div>
        <div class="col col__btn d-flex justify-content-center align-items-end" id="row__package"><a href="" class="fw-bold fs-1 w-100 btn btn-primary border-0">Novo Pacote</a></div>
    </div>
</div>
</div>

{% endblock %}
