{#
 * This package is responsible for displaying the html elements.
 * 
 * Copyright (C) 2023, José V S Carneiro
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * This program is distributed in the hope that it will be useful,    
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License 
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "Main.html.twig" %}

{% set _NEW_ITEM = URL_ ~ 'item' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href={{ CSS_ ~ 'Home.css' }}>
{% endblock %}

{% block main %}

<div id="main" class="d-grid h-100 w-100">
    <div id="sold" class="main__first p-2">
        <div class="h-100">
            test
        </div>
    </div>
    <div id="debt" class="main__first p-2">
        <div class="h-100">
            test
        </div>
    </div>
    <div id="graphic" class="p-2">
        <div class="h-100">
            test
        </div>
    </div>
</div>

{% endblock %}
